.navbar{
    width: 100%;
    height: 9vh;
    padding: 2vh 7vw;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}
.navbarWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 700;
    font-size: 2rem;
    color: #FF3026;
}
.navbarRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navLinks{
    display: flex;
    gap: 1rem;
}
.logoutBtn{
    padding: 0.5rem;
    font-weight: 500;
    background-color: #ff3026;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.logoutBtn:hover{
    background-color: #dc372e;
}
.links{
    text-decoration: none;
    color: black;
}
.navbarMenuIconWrapper{
    display: none;
}

@media screen and (max-width: 1000px) {
    .links{
        font-size: 2vw;
    }
    .logoutBtn{
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .navbar{
        padding: 2vh 3vw;
    }
    .logoutBtn{
        font-size: 3vw;
    }
    .navLinks{
        display: none;
    }
    .navbarMenuIconWrapper{
        display: block;
    }
    .navVerticalLinks{
        height: 100vh;
        width: 30vw;
        background-color: #F7F7F7;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .closeIcon{
        font-size: 4vw;
    }
    .verticallink{
        color: black;
        font-size: 3vw;
    }
}

@media screen and (max-width:500px) {
    .navVerticalLinks{
        width: 50vw;
    }
    .verticallink{
        font-size: 5vw;
    }
}